<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
    <link rel="stylesheet" href="../static/css/signin.css">
</head>
<body>
    <div class="box">
        <h2>Login</h2>
        <form action="/signin" method="post">
            <div class="input-box">
                <label>账号</label>
                <div>
                    <input type="Email" name="Email" placeholder="Email">
                </div>
            </div>
            <div class="input-box">
                <label>密码</label>
                <div>
                    <input type="Password" name="Password" placeholder="Password">
                </div>
            </div>
            <div class="btn-box">
                <a href="#" class="a" id="forgetPassword">忘记密码？</a>
                <div>
                    <button type="submit" class="button">登录</button>
                    <a href="/signup" class="button" id="signup">注册</a>
                </div>
            </div>
        </form>
    </div>
</body>
</html>